@import url("https://necolas.github.io/normalize.css/latest/normalize.css");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css");

.main-theme {
  font-family: 'Helvetica';
  font-size: 48px;
  color: #ffffff;
  background: url('../resources/background.jpg') no-repeat;
  text-align: center;
  height: 100vh;
  background-size: cover;
  padding-top: 150px;
  width: 100%;
  position: relative;
}

a {
  text-decoration: none;
  color: #ffffff;
}

.form-control {
  margin-bottom: 2vh;
  height: 45px;
}

button {
  margin-top: 10px;
  width: 100%;
  height: 45px;
  display: inline-block;
  background-color: #313030;
  border: none;
}
.direction-button {
  position: absolute;
  top: 15px;
  left: 0;
  width: 70px;
  height: 100px;
  background-image: url('../resources/arrow.png');
  background-size: 30px;
  background-position: top;
  background-repeat: no-repeat;
}
.search-page--pagination {
  position: absolute;
  bottom: 10px;
  height: 30px;
  width: 65%;
  left:50%;
  margin-left: -32.5%;
}

.main-theme p {
  font-size: 16px;
  display: inline-block;
  width: 90%;
  padding-top: 10px;
  border-top: 1px solid #ffffff;
}

/* SIGNUP PAGE */
.signup-page--container{
  position: relative;
  max-height: 100vh;
  display:flex;
  flex-flow: column;
}

.signup-page--container > .main-theme{
  background-size: cover;
  height: 40vh;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-page {
  height:60vh;
  width: 100%;
  background-color: #313030;
  padding: 60px 40px;
}

.signup-page--results{
  padding-bottom: 40px;
}


/* SIGNUP PAGE */



/* HOME PAGE */

.home-page--container {
  position: relative;
}

.home-page--container > .main-theme {
  background-position: 30%;
}

.home-page--buttons, .info-page--buttons {
  width: 100%;
  position: absolute;
  bottom: 0;
}

.home-page--buttons button {
  width: 50%;
  display: inline-block;
}

/* HOME PAGE */




/* INFO PAGE */
.info-page--container {
  position: relative;
}

.info-page--container > .main-theme{
  background-position: 30%;
}

.info-page--buttons button {
  width: 100%;
}
/* INFO PAGE */



/* LOGIN PAGE */
.login-page--container {
  position: relative;
  max-height: 100vh;
  display:flex;
  flex-flow: column;
}

.login-page--container > .main-theme{
  height: 60vh;
  min-height: 100%;
}

.search-page--results{
  margin: 160px 0 0 0;
  padding: 0 10px 40px 10px;
}
.login-page {
  height: 40vh;
  width: 100%;
  background-color: #313030;
  padding: 40px 40px;
}

/* LOGIN PAGE */

.search-result--container{
  position: relative;
}

.search-result--img{
  width:20vh;
  height:15vh;
  float: left;
}

.panel-default>.panel-heading {
  background-color: #333 !important;
  color:white !important;
}

.checkbox-inline {
  color: white !important;
}

.search-result--info{
  padding-left: 15px;
  text-align: center;
}

.search-result--counter{
  position: absolute;
  right: 10px;
  bottom: 10px;
}
